@font-face {
    font-family: "Indie Flower";
    src: url("../fonts/IndieFlower-Regular.woff");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff");
}

body {
    font-family: "Lato";
}

.navbar {
	padding: 20px 0 20px 12px;
    background-color: #D9D79C;
}



.nav-link, .dropdown-item {
    color: #705F47;
}

div.topnav {
	padding: 0;
}

.dropdown-menu {
	border: none;
    background-color: #D9D79C; /* colocar a mesma cor da nav */
}

.dropdown-item:hover {
    background-color: unset;
}

a.crie-celula {
	margin-right: 20px;
}

.full-width { 
	padding-left: 0; 
	padding-right: 0;
}

#home {
	height: 100vh;
	/*background-image: url("../img/main-bg.png");*/
	display: flex;
  	align-items: center;
  	justify-content: center;

}

.main-title {
    padding-bottom: 25px;
    font-family: "Indie Flower";
    font-weight: bold;
}

.apresentacao {
	padding: 20px;
}

#objetivos {
	background-color: white;
}

.objetivo-title {
	padding: 40px 0 40px 0;
    font-family: "Indie Flower";
    font-weight: bold;
}

.objetivo-item {
	padding-bottom: 40px;
}

.objetivo-img {
	width: 100px;
}

.objetivo-desc {
	margin: 0 40px 0 40px;
	padding-top: 20px;
}

.secao {
    padding: 50px 0;
    background-color: lightgray;
}

#aprendizagem-cooperativa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
	padding-bottom: 50px;
    text-align: center;
    margin:auto;
    font-family: "Indie Flower";
    font-weight: bold;
}

.ac-desc {
	text-align: left;
	padding: 0 30px;
}

/* timeline */
.timeline-ac {
	background-color: silver;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    margin-right: 1.5rem; 
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

li.timeline-item h2, .pilar h5 {
    font-weight: bold;
    letter-spacing: 1px;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
}

.pilares {
    margin-top: 30px;
}

.pilar, .pilar-pacce {
    margin: 20px 0;
}

.convite-area {
    border: 1px solid teal;
    margin: 30px 0;
    padding: 20px;
}

p {
    line-height: 1.7em;
}

#celulas {
    background-color: white;
}

.cell-card {
    margin: 20px 0;
}

.cell-links {
    display: block;
    width: 20rem;
    line-height: 4rem;
    margin: 20px 0;
    text-anchor: middle;
    letter-spacing: 2px;
}

.cell-link-area {
    margin-top: 30px;
}
/** {
    border: 1px solid red;
}*/

footer {
    padding: 30px 0;
    background-color: #0C486C;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.85em;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer h5 {
    color: white;
}

footer span img {
    width: 15px;
    margin-right: 5px;
}

.membro-equipe {
    text-align: left;
    padding: 10px;
    margin: 15px;
    background-color: lightblue;
}

.membro-equipe img {
    width: 90px;
    border: 5px solid silver;
}

.membro-info {
    padding-left: 10px;
}

.cargo {
    font-size: 0.85em;
}

.depoimentos {
    padding: 20px;
}

.depo-info .nome {
    color: #0C486C;
}

.depoimento {
    padding: 10px;
    border-width: 2px;
}

.depoimento .card-body {
    border: 2px dashed #0C486C;
    border-radius: 4px;
}


